spring:
  application:
    name: api-gateway
server:
  port: 10002

# routes to serviceId 这里边是通过serviceid来绑定地址，当在路径后添加/api-a/   则是访问service-web对应的服务。
zuul:
  routes:
    service-web:
      path: /api-a/**
    service-feign:
      path: /api-b/**

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:10001/eureka/
