spring:
  application:
    name: user-service
  rabbitmq:
    host: dolojia.cn
    port: 5672
    username: admin
    password: admin

server:
  port: 10004

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:10001/eureka/

info:
  build:
    name: @project.name@
    description: @project.description@
    groupId: @project.groupId@
    artifact: @project.artifactId@
    version: @project.version@