server:
  port: 10001

eureka:
#  instance:
#    hostname: registry
#    prefer-ip-address: true
  client:
  #配置不进行自我注册核信息拉取
    registerWithEureka: false
    fetchRegistry: false
    service-url:
    #注册中心地址，其他程序通过次URL进行注册
      defaultZone: http://localhost:${server.port}/eureka/
  server:
    #是否打开自我保护，如果设置为true，很容易会出现红色字体的自我保护提示，不方便测试
    enable-self-preservation: false
      #清理时间，默认是60*1000毫秒，修改短一点，保证开发时，客户端失效后，能够快速剔除客户端
    eviction-interval-timer-in-ms: 10000
